.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.kv-btn {
  padding: .25rem .4rem !important;
  font-size: .875rem;
  /* line-height: .5; */
  border-radius: .2rem;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border:1px solid #dcdcdc;
  /* display:inline-block; */
  cursor:pointer;
  color:#666666;
  /* font-family:Arial; */
  /* font-size:15px; */
  /* font-weight:bold; */
  /* padding:6px 24px; */
  min-width: 31px;
  text-decoration:none;
  /* text-shadow:0px 1px 0px #ffffff; */
}

.kv-btn-sm {
  padding: 0px;
  min-width: 25px;
  width: 25px !important;
  height: 25px !important;
  padding: unset !important;
}

.kv-btn:hover {

}

.kv-btn:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}

.kv-btn:active {
  position:relative;
  top:1px;
}

.btn-r-flat {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-l-flat {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-r-flat {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-lr-flat {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}


#top-refresh-button {
  width: 31px;
}









.gg-dice-6 {
  display: block;
  transform: scale(var(--ggs,1));
  position: relative;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 3px;
}
.gg-dice-6::before {
  content: "";
  display: block;
  box-sizing: border-box;
  background: currentColor;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  left:2px;
  top:2px;
  box-shadow:
      0 5px 0, 0 10px 0,
      10px 0 0, 10px 5px 0,
      10px 10px 0;
}