#codenav-toolbar {
    position: absolute;
    right: 2px;
    width: 50%;
    float: right;
}

#codenav-toolbar-button-group {
    float: right;
    margin-top: 1px;
    /* margin-right: 5px; */
}

#codenav-toolbar .btn {
    margin-left: 5px;
}