#compute-selection-row {
    height: 99%;
    max-height: 99%;
    display: flex;
    /* max-height: 92%; */
}


#compute-selection-row-left,
#compute-selection-row-right {
    width: 49%
}

#compute-selection-row-left {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
    padding-left: 0px;
}


#compute-selection-row-left-firstRow {
    display: flex;
    position: relative;
    flex-flow: row;
}


#block-selection-container {
    /* margin-left: -1px; */
    margin-bottom: 8px;
    width: 50%;
    padding: 0px;
}

#block-select-x {
    border:solid 1px #ccc;
    padding-left: 3px;
    padding-top: 3px;
    color: #545b62;
}

#block-select-x:focus {
    z-index: 1;
}

#block-select-x-pre {
    margin-left: -1px;
}

#block-select-y {
    border:solid 1px #ccc;
    padding-left: 3px;
    padding-top: 3px;
    color: #545b62;
}

#compute-mode-view {
    display: flex;
    flex-flow: row;
    float: right;
    width: 35%;
    height: 33px;
    padding: 0px;
}

#compute-mode-view .input-group-prepend {
    height: 33px
}

#compute-mode-view .selectize-control {
    padding: 0px;
    width: 100%;
}

.compute-mode-view-option {
    height: 28px;
    padding: 5px;
    width: 100%;
}

#compute-mode-select {
    height: 33px;
}

.block-select-pre-text {
    font-family: SourceSansPro;
    font-size: smaller;
    font-weight: bold;
    max-width: 51px;
    padding-left: 4px;
    padding-right: 4px;
    width: auto !important;
}

.block-select-pre-text-title {
    width: 50px !important;
}

.block-select-pre-text-last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: -1px;
}

#block-select-y {
    height : 100%
}



.mode-select-pre-text {
    font-family: SourceSansPro;
    font-size: smaller;
    font-weight: bold;
    max-width: 50px;
    padding-left: 4px;
    padding-right: 4px;
}

#thread-selector {
    display: flex;
    flex-flow: column;
    max-height: 100%;
    overflow-y: auto;
}

#thread-selection .simplebar-content {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-gap: 2px;
    height: 100% !important;
}

.thread-selector-item {
    display: flex !important;
    padding: 3px;
    width: 100%;
    margin-bottom: 2px;
    display: block;
}

.thread-selector-item .left {
    position: relative;
    width: 20%;
    float: left;
}

.thread-selector-item .right {
    width: 80%;
    float: right;
}

.thread-selector-item .thread-container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 100%;
    float: right;
    max-width: 60vh;
    height: auto;
    max-height: 60vh;
    font-size: 1rem
}

.thread-selector-item .thread-container .halfwarp {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: flex-end;
    float: right;
}

.thread-selector-item .thread {
    border: 1px solid lightgray;
    cursor: pointer;
    position: relative;
    width: 5%;
    margin: 1px;
    border-radius: 2px;
    /* width: 13px;
    height: 13px */
}

.thread-selector-item .thread:hover {
    background: rgb(167, 215, 243);
    opacity: 0.8;
}

.thread-selector-item .thread:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}





/*************************
        Warp view
 *************************/

 #warp-view-container {
    /* display: inline-grid; */
    max-height: 95%;
    height: 95%;
    width: 50%;
}

#warp-selector {
    display: flex;
    flex-flow: column;

    /* height: 98%; */
    max-height: 100%;
    /* max-height: 100%; */
    overflow-y: auto;
}

#warp-selector .simplebar-content {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
    height: 100% !important;
}

#warp-selector .simplebar-content::before {
    display: none;
}


.warp-index {
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 56px;
    background-color: #636c73 !important;
}

.warp-selector-item {
    padding: 0px;
    height: 35px;
    margin-bottom: 2px;
    cursor: pointer;
    display: block;
    border-radius: 2px;
}


.warp-selector-item:hover {
    background: rgba(244, 251, 255, 1);
    opacity: 0.8;
}

.warp-selector-item:first-child {
    border-top-width: 0px;
}

.warp-index {
    margin: 0px;
}

.warp-selector-item-selected {
    background: rgb(209, 229, 240);
    /* background: #17a2b8; */
    border-top-width: 1px !important;
    border:1px solid #cdd5ff;
    border-radius: 3px;
    opacity: 0.8;
}

.warp-selector-item-selected:hover{
   background: rgb(209, 229, 240);
}

.warp-selector-item .first-row {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 60%;
}

.warp-selector-item .second-row {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 41%;
    border-bottom-left-radius: 2px;
}

 /** Active Lanes > Barmode **/

.usable-lanes-number-barmode, .unusable-lanes-number-barmode {
    display: table-cell;
    margin-left: 5px;
    margin-top: 2px;
    color: #6c757d;
    font-size: x-small;
}

#usable-lanes-barmode {
    height: 50%;
    width: 56px;
    opacity: 80%;
    border-radius: 0px;
    /* border-bottom-left-radius: 2px; */
}

#usable-lanes-barmode .progress-bar {
    vertical-align: middle;
    /* height: 8px; */
}

#usable-lanes-barmode .progress-bar-usable {
    background-color: #c3e6cb;
}

#usable-lanes-barmode .progress-bar-usable:hover {
    background-color: green;
}

#usable-lanes-barmode .progress-bar-unusable {
    background-color: #f5c6cb;
}

#usable-lanes-barmode .progress-bar-unusable:hover {
    background-color: red;
}

 /** Active Lanes > Textmode **/

.usable-lanes-textmode {
    display: flex;
    flex-direction: row;
    background-color: #e9ecef !important;
    border-radius: 0px;
    border-bottom-right-radius: 2px !important;
    /* border: 1px solid #6c757d; */
}

.usable-lanes-number-textmode {
    display: inline-block;
    vertical-align: middle;
    /* font-size: smaller; */
    color: green;
    /* font-family: monospace; */
    font-weight: 100;
}

.usable-lanes-separator-textmode {
    display: inline-block;
    vertical-align: middle;
    /* font-size: smaller; */
    color: #545b62;
    /* font-family: monospace; */
    font-weight: 100;
}

.unusable-lanes-number-textmode {
    display: inline-block;
    vertical-align: middle;
    /* font-size: smaller; */
    color: red;
    /* font-family: monospace; */
    font-weight: 100;
}



/*************************
        Block view
 *************************/

.empty-input,
.invalid-input {
    border: 2px solid red !important;
}