#compute-selection-row {
    height: 99%;
    max-height: 99%;
    display: flex;
    /* max-height: 92%; */
}


#compute-selection-row-left,
#compute-selection-row-right {
    width: 49%
}

#compute-selection-row-left {
    display: flex;
    flex-flow: column;
    height: 100%;
    max-height: 100%;
    padding-left: 0px;
}


#compute-selection-row-left-firstRow {
    display: flex;
    position: relative;
    flex-flow: row;
}


#block-selection-container {
    margin-bottom: 8px;
    width: 65%;
}

#block-select-x {
    border:solid 1px #ccc;
}

#block-select-y {
    border:solid 1px #ccc;
    border-radius: 3px;
}

#compute-mode-view {
    display: flex;
    flex-flow: row;
    float: right;
    width: 35%;
    height: 33px;
}

#compute-mode-view .input-group-prepend {
    height: 33px
}

#compute-mode-view .selectize-control {
    padding: 0px;
    width: 100%;
}

.compute-mode-view-option {
    height: 28px;
    padding: 5px;
    width: 100%;
}

#compute-mode-select {
    height: 33px;
}

.block-select-pre-text {
    font-family: SourceSansPro;
    font-size: smaller;
    font-weight: bold;
    max-width: 62px;
}



.mode-select-pre-text {
    font-family: SourceSansPro;
    font-size: smaller;
    font-weight: bold;
    max-width: 62px;
}

#warp-view-container {
    /* display: inline-grid; */
    max-height: 95%;
    height: 95%;
    width: 50%;
}

.simplebar-content {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 2px;
    height: 100% !important;
}

.simplebar-content::before {
    display: none;
}

#warp-selector {
    display: flex;
    flex-flow: column;

    /* height: 98%; */
    max-height: 100%;
    /* max-height: 100%; */
    overflow-y: auto;
}

.warp-selector-item {
    padding: 3px;
    height: 30px;
    margin-bottom: 2px;
    cursor: pointer;
    display: block;
}

.warp-selector-item:hover {
    background: rgba(244, 251, 255, 1);
    opacity: 0.8;
}

.warp-selector-item:first-child {
    border-top-width: 0px;
}

.warp-index {
    margin: 0px;
}

.warp-selector-item-selected {
    background: rgb(209, 229, 240);
    /* background: #17a2b8; */
    border-top-width: 1px !important;
    border:1px solid #cdd5ff;
    border-radius: 3px;
    opacity: 1;
}

.warp-selector-item-selected:hover{
   background: rgb(209, 229, 240);
}

.warp-selector-item #first-row {
    display: flex;
    flex-direction: row;
    max-height: 100%;
}

.active-lanes-number, .inactive-lanes-number {
    display: table-cell;
    margin-left: 5px;
    margin-top: 2px;
    color: #6c757d;
    font-size: x-small;
}

#active-lanes {
    height: 8px;
    margin-top: 5px;
    margin-left: 5px;
    width: 10%;
}

#active-lanes .progress-bar {
    vertical-align: middle;
    /* height: 8px; */
}

