#memory-area .card-header {
    padding: 10px;
}

#memory-area .card-header .title {
    padding: 5px;
    vertical-align: middle;
}

#memory-area .card-body {
    overflow: auto;
}

#memory-vis-list {
    width: 100%;
    background-color: transparent;
}


.memory-vis {
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    border: none;
    border-left: 6px solid grey;
}


/**
 ** HEADER
 **/

.memory-vis-header {
    padding-left: 4px;
    font-size: 12px
}

.memory-vis-header .memory-name {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    display: inline-block;
    vertical-align: text-bottom;
}

.memory-vis-header .memory-name-src {
    cursor: pointer;
}

.memory-vis-header .memory-name-src:hover {
    opacity: 0.5;
}

.memory-vis-header-separator {
    margin-left: 7px;
    margin-right: 7px;
}


/* .memory-vis-header > .memory-type {
    margin-left: 5px;
}

.memory-vis-header > .memory-type-title {
    margin-left: 4px
} */

.memory-vis-header > .memory-type-popover {
    font-family: monospace;
}

.memory-size-title {
    margin-right: 5px;
}

.memory-size-value-dim-value {
    cursor: pointer;
    /* font-family: Consolas; */
}

.memory-size-value .times {
    font-size: 8px;
    margin-left: 2px;
    margin-right: 2px;
}


/**
 ** POPOVERS
 **/

.memory-name-popover,
.memory-type-popover {
    max-width: 15%;
}

.memory-name-popover-header,
.memory-type-popover-header {
    display: block;
    font-size: 10px;
    padding: 4px;
}

.memory-name-popover-body,
.memory-type-popover-body {
    padding: 4px;
    font-family: Consolas;
    word-wrap: break-word;
    word-break: break-all;
    color: grey;
    font-weight: 100;
}

.memory-name-popover-body > p {
    margin-block-end: 0px;
}

.memory-name-popover-body .emph {
    color: darkolivegreen;
    font-weight: 900;
}

.memory-name-context {
    display: flex;
    flex-direction: column;    
}

.memory-name-context .line {
    font-family: Consolas;
    line-height: 1.2;
    font-size: 11px;
}

.memory-name-context .line-emph {
    font-size: 12px;
}

.memory-name-context .line-number {
    opacity: 1;
    color: black;
    font-size: 10px;
}

.memory-name-context .line-content {
    font-size: 11px;
}

.memory-name-context .line-number-highlighted {
    font-weight: bold;
    font-style: normal;
}

.memory-name-context .line .implied-content {
    font-family: Arial, Helvetica, sans-serif;
}

.memory-type-content > pre {
    font-family: Consolas;
    margin-bottom: 0px;
}