#memory-area-titlebar{
    padding: 10px !important;
}

#memory-area .card-header .title {
    padding: 5px;
    vertical-align: middle;
}

#memory-area .card-body {
    overflow: auto;
}

#memory-area {
    height: 100%;
}

#memory-area-body {
    width: 100%;
    height: 100%;
}

#memory-vis-list {
    width: 100%;
    background-color: transparent;
}

/* #memory-area-body .simplebar-track.simplebar-vertical {
    right: -10px;
} */

/********************/
/********************/
/********************/
/********************/
/********************/

.memory-vis {
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    width: 99% !important;
    border: none;
    border-left: 6px solid grey;
}


/**
 ** HEADER
 **/

.memory-vis-header {
    font-size: 12px
}

.memory-vis-header.card-header {
    padding: 1px;
}

.memory-vis-header .memory-vis-collapse {
    display: inline-block;
    right: 0px;
    position: absolute;
    cursor: pointer;
    padding-left: 7px;
    padding-right: 5px;
    border-left: 1px solid #dee2e6!important
}

.memory-vis-header .memory-vis-collapse:hover {
    /* color: rgba(0,0,0,0.5); */
    opacity: 0.5 !important;
}

.memory-vis-header .memory-name {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    vertical-align: text-bottom;
}

.memory-vis-header .memory-name-src {
    cursor: pointer;
}

.memory-vis-header .memory-name-src:hover {
    opacity: 0.5;
}

.memory-vis-header > .memory-type-popover {
    font-family: monospace;
}

.memory-src-wrapper, .memory-name-wrapper, .memory-size-wrapper,
.memory-type-wrapper,.memory-type-size-wrapper {
    padding-left: 5px;
    padding-right: 5px;
}

.memory-src-wrapper:hover {
    cursor: pointer;
}

.memory-src-wrapper:hover,
.memory-src-wrapper.active {
    box-sizing: border-box;
    /* color: lightgoldenrodyellow; */
    color: rgba(0,0,0,0.5);
    background-clip: padding-box;
    background:  #eff0f1;
}

.memory-size-title {
    margin-right: 5px;
}

.memory-size-value-dim-value {
    cursor: default;
    /* font-family: Consolas; */
}

.memory-size-value-dim-times {
    font-size: 8px;
    opacity: 0.7;
    margin-left: 2px;
    margin-right: 2px;
}

.memory-type-title {
    margin-right: 4px;
}

.memory-type-size-wrapper {
    cursor: default;
}

.memory-type-size-title {
    margin-right: 4px;
}

.memory-size-title,
.memory-type-title,
.memory-type-size-title {
    cursor: default;
    opacity: 0.5;
    font-weight: 100;
}

.memory-size-title:hover,
.memory-type-title:hover,
.memory-type-size-title:hover {
    opacity: 0.7;
}


/**
 ** HEADER-POPOVERS
 **/

.memory-src-popover,
.memory-type-popover {
    max-width: 15%;
}

.memory-src-popover-header,
.memory-type-popover-header {
    display: block;
    font-size: 10px;
    padding: 4px;
}

.memory-src-popover-body,
.memory-type-popover-body {
    padding: 4px;
    font-family: Consolas;
    word-wrap: break-word;
    word-break: break-all;
    color: grey;
    font-weight: 100;
}

.memory-src-popover-body > p {
    margin-block-end: 0px;
}

.memory-src-popover-body .emph {
    color: darkolivegreen;
    font-weight: 900;
}

.memory-src-context {
    display: flex;
    flex-direction: column;    
}

.memory-src-context .line {
    font-family: Consolas;
    line-height: 1.2;
    font-size: 11px;
}

.memory-src-context .line-emph {
    font-size: 12px;
}

.memory-src-context .line-number {
    opacity: 1;
    color: black;
    font-size: 10px;
}

.memory-src-context .line-content {
    font-size: 11px;
}

.memory-src-context .line-number-highlighted {
    font-weight: bold;
    font-style: normal;
}

.memory-src-context .line .implied-content {
    font-family: Arial, Helvetica, sans-serif;
}

.memory-type-content > pre {
    font-family: Consolas;
    margin-bottom: 0px;
}


/**
 ** BODY
 **/
.memory-vis-body {
    width: 100%;
    max-height: 100%;
    height: 100%;
    will-change: transform;
}


/**
 ** Grid
 **/
.memory-vis-grid {
    width: auto;
    height: auto;
    /* max-height: 300px; */
    display: inline-grid;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-anchor: unset;
}

/* .memory-vis-grid:hover::-webkit-scrollbar {
    height: 13px;
    width: 13px;
} */

.memory-vis-grid::-webkit-scrollbar {
    height: 4px;
    width: 0px;
    margin-right: 5px;
}

.memory-vis-grid::-webkit-scrollbar-thumb {
    background: lightgrey;
}


.memory-vis-grid::-webkit-scrollbar-thumb:hover {
    /* height: 8px; */
    background: grey;
}

.memory-vis-cell {
    shape-rendering: geometricPrecision;
    outline: 1px solid rgba(27,31,35,.04);
    outline-offset: -1px;
    fill: #ebedf0;
    /* stroke: rgba(27, 31, 35, 0.4); */
    /* stroke-width:  0.3; */
    overflow:visible
}

.memory-vis-cell:hover{
    /* stroke: cadetblue; */
    /* stroke-width: 1px; */
    outline-color: cadetblue;
}

/**
 ** Grid Toolbar
 **/
 .memory-vis-grid-toolbar {
     width:100%;
     height: 30px;
 }